
<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">-->
  <!-- Links -->
  <img src="/assets/images/logo1.png" class="logo">
  <div class="menu">
    
  <ul >
  
  <li >
    
    <!--<a routerLink="products" class="nav-link" routerLinkActive="active">Product List</a>
  </li>
  <li class="nav-item">
  <a routerLink="add" class="nav-link" routerLinkActive="active">Add Product</a>
  </li>-->
    
    
    
    
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="orders" routerLinkActive="active">View Order</a>
</li>
<li>
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="customerss"  routerLinkActive="active">View Customers</a>
</li>
<li>
    
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="products"  routerLinkActive="active">Product List</a>
  </li>
  <li>
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="add" routerLinkActive="active">Add Product</a>
  </li>

  <li >
    <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login"
    class>Login</a>
  </li>
  <li >
    <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login"
    class>About Us</a>
  </li>

  <li >
    <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login"
    class>Contact Us</a>
  </li>



  <li >
    <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/register"
    >Register</a>
  </li>

  <li >
    <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout"
    >Logout</a>
  </li>

  </ul>
  
</div>

<div class="mybody">
  
  <br>
  <h2>{{title}}</h2>
  <hr>
  
<div class="card">
  <div class="card-body">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>

 <!-- <div class="msg">
      <h3>
        Welcome To Admin Dashboard
        <pre><h4>Manage your Inventory Here.</h4></pre>
      </h3>-->



  
  <div class="footer">
    <div class="footer-cont">
    <span>All Rights Reserved 2020 @NewHorizon</span>
    </div>
  </div> 